body{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

.header{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header > a{
    text-decoration:none;
    color:white
}

.menu{
    display: flex;
}

.menu > a{
    text-decoration:none;
    display: block;
    color:white;
    padding: 10px;
}

.notas{
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    margin: auto;
}

.notas > .box_nota{
    padding: 10px;
}

.notas > .box_nota > p{
    display: flex;
    flex-wrap: wrap;
}

.notas > div{
    background-color: rgb(172, 172, 172);
    flex: 1 1 300px;
    margin: 10px;
    border-radius: 10px;
    border-style:solid;
    border-color: rgb(0, 0, 0);
    border-width: 1px;
}

.notas > div > .btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.cadastro{
    display:flex;
    justify-content:center;
    margin:100px;
}

.cadastro > .formulario{
    display:flex;
    flex-wrap:wrap;
    padding:12px;
    border-style:solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: rgb(172, 172, 172);
    border-color: rgb(0, 0, 0);
}

.secao {
    background-color:  black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.secao > div > p {
    color: rgb(245, 200, 1);
}

.notes {
    background-color:  black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.notes > h1 {
    color: rgb(255, 255, 255);
}